@import 'navbar';
@import 'dropdown';
@import 'login';
@import 'cards';


html, body {
    margin: 0 !important; /* Remove default margins */
    padding: 0; /* Remove default paddings */
    background-color:  #eee;
    
    box-sizing: border-box; /* Include padding and border in element's dimensions */
    overflow-x: hidden;
  }